:root {
    --cool-brown: background-color: #bbb5b0;
    --medium-brown: #8a796d;
}

/*Cover image*/
body {
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;
}

#welcome {
    background-color: aqua;
}

#sign {
    /*padding: 100px 400px;*/
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%)
}

.form-label {
    font-family: 'Times New Roman', Times, serif;
}

.form-control {
    width: 100%;
    border: none;
    height: 30px;
}

.trial {
    min-height: 160px;
}

button {
    margin: 20px;
}

.btn {
    background-color: #bbb5b0;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    border-radius: 0;
    display: block;
    margin: 20px auto 0;
}

.btn:hover {
    background-color: var(--medium-brown);
}

.btn:active {
    background-color: var(--cool-brown);
}