/*Cover image*/
body {
    background-image: url('/html/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

/*Sign up*/
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

#welcome {
    background-color: aqua;
}
#sign {
    /*padding: 100px 400px;*/
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%) 
}
/*.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%) 
}
