<div class="container-fluid"> <!--Mobile responsiveness-->
    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12" id="sign">
            <div class="card mx-auto">
                <h1>Upcoming Events</h1>
                <article id="listevents"></article>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" onClick="parent.open('/addevent')">Add Event</button>
            </div>
            </form>
        </div>
    </div>
</div>
<script src="./js/calendar.js"></script>