<div class="container-fluid"> <!--Mobile responsiveness-->
    <div class="row d-flex justify-content-center" id="container">
        <div class="col-md-6 col-sm-12" id="welcome">
            <h3>Welcome to your peace of mind.</h3>
        </div>
        <div class="col-md-6 col-sm-12" id="sign">
            <div class="card mx-auto">
                <h1>Login</h1>
                <form id="signup-form" method="POST"></form>

                <!--Login Fields-->
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <div><input type="email" class="form-control" id="email" name="email" required></div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <div><input type="password" class="form-control" id="password" name="password" required></div>
                </div>

                <button type="submit" class="btn btn-primary">Enter</button>

                </form>
            </div>
        </div>
    </div>
</div>
<script src="login.js"></script>